@model IEnumerable<ReactDemo.Models.Contact>

@{
    Layout = null;
}
<html>
<head>
    <title>Hello React</title>
    <link rel="stylesheet" type="text/css" href="~/Scripts/IndexStyle.css"/>
</head>
<body>
    <div id="content"></div>
    <li
    <script src="https://fb.me/react-0.14.0.js"></script>
    <script src="https://fb.me/react-dom-0.14.0.js"></script>
    <script src="@Url.Content("~/Scripts/UpdateContactForm.jsx")"></script>
    <script src="@Url.Content("~/Scripts/CreateContactForm.jsx")"></script>
    <script src="@Url.Content("~/Scripts/ConfirmationBox.jsx")"></script>
    <script src="@Url.Content("~/Scripts/Tutorial.jsx")"></script>
</body>
</html>